doctype html
html(ng-app='MyApp')
	head
		title Janux Authorization
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/typography.css')
		link(rel='stylesheet', href='css/util.css')
		link(rel='stylesheet', href='css/layout.css')
		link(rel='stylesheet', href='css/responsive.css')

		script(src='js/angular.js')
		script(src='js/angular-ui-router.js')
		script(src='js/app.js')

	body
		.container
			header
				.logo
					img(src='img/janux-sage-256.png') 
					.branding
						span.janux janux 
						span.people people

				.auth

					.auth-status Logout 
						span.entypo.entypo-logout

					.auth-user Philippe Paravicini &nbsp;
						span.entypo.entypo-down-open

			nav
				ul
					li.first(ui-sref-active='active'): a(ui-sref='accounts') Accounts
					li(ui-sref-active='active'): a(ui-sref='roles') Roles
					li(ui-sref-active='active'): a(ui-sref='permissions') Permissions

			div(ui-view)

			//
				section.sidebar

					block sidebar
						include sidenav

				section.maincolumn

					block main-content
					block footer
						include google-analytics

// vim: set fo=rq wrap:
