h2 Sandbox

div
	span.glyphicon.glyphicon-log-out(style='font-size: 2rem; padding: 10px 10px; color: #f37321; background-color:white')
	|&nbsp; 
	span.glyphicon.glyphicon-user(style='font-size: 2rem; padding: 10px 10px; background-color:#ebebeb')
	|&nbsp;
	span.glyphicon.glyphicon-time(style='font-size: 2rem; padding: 10px 10px; background-color:#ebebeb')
