p
	a(href="index.html#what-is-janux") What is Janux?
p
	a(href="index.html#janux-people") Janux People
p
	a(href="index.html#janux-authorization") Janux Authorization
p
	a(href="styleguide.html") Styleguide

p
	a(href="entypo-icons.html") Entypo Icons


