@import "semantic-grid/stylesheets/less/grid.less"; // from bower
@import "mixin";
@import "variable";

.container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: @sageLight;
}

header {
	background-color: white;
	display: inline;
	float: left;
	width: 100%;
	.rem(height, 72);
}

.logo {
	.column(6);
	margin-left: 0;
	.rem(padding-top, 16);
	.rem(padding-left, 24);
	
	img {
		.rem(height, 40);
		float: left;
	}
}

.branding {
	float: left;
	.rem(margin-left, 24);
	.rem(padding-top, 8);

	.janux {
		// padding-right: .2em;
		.rem(padding-right, 2);
		color: @grey;
	}

	.people {
		color: @sageDark;
	}
}

.auth {
	display: inline;
	float: right;
	margin-right: 1.38888889%;
}

.auth-status {
	float: right;
	.rem(margin-top, 5);
}

.auth-user {
	float: right;
	clear: both;
	.rem(margin-top, 15);
}

nav {

	ul {
		float: left;
		display: block;
		width: 100%;
		background-color: @grey1;
		text-align: center;
		list-style: none;
		.rem(padding-top, 3);
		.rem(padding-bottom, 3);
		margin: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-padding-start: 0;
	}

	li {
		display: inline-block;
		margin: 0;
		margin-left: 5%;
	}

	.first {
		margin-left: 0;
	}

}



// main column & sidebar
.maincolumn {
	.column(10);
}

.sidebar {
	.column(2);
	// background-color: @grey;
}


