@import "semantic-grid/stylesheets/less/grid.less"; // from bower
@import "mixin";
@import "variable";

body{
	font-family: 'MyriadPro-Regular';
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: @white;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

/* header logo + menu */
header{
	background: @grey1;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 40px;
	padding-top: 20px;

	position: relative;
}

nav a{
	color: @black;
	text-decoration: none;
	font-size: 14px;
}

nav a::before{
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	background-color: @green;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;
}

/* submenu */
.sub_menu{
	border-bottom: 3px solid @green;
  	background:@grey2;
	display: block;
	margin: 0px auto;
	width: 100%;
	height: 45px;
  
}
.sub_menu ul{
	text-align: center;
	overflow:auto;
 
  
}
.sub_menu ul li{ 
	display:inline;
	line-height:3;
  
}

.sub_menu a{
	font-family: 'MyriadPro-Semibold';
	padding:20px;
	color: @white;
	text-decoration: none;
}

.menu_secundary a:hover{
	background: @green;
	-webkit-transition:all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* showcase */
#showcase{
	min-height: 350px;
	background: url('../img/header_home.png') no-repeat 0 -350px;
	text-align: left;
	color: @white;
}

#showcase h1{
	height: 10px;
	margin-top: 80px;
	font-size: 35px;
	padding-bottom: 5px;
}

#showcase p{
	padding-top: 5px;
	font-size: 20px;
}

#showcase .button_1{
	height: 35px;
	border: none;
	background: @green;
	color: @white;
	font-family: 'MyriadPro-Bold';
	letter-spacing: 1px;
	font-size: 14px;
	padding: 0 20px 0 20px;
}

#showcase .button_1:hover{
	color: @white;
	background: @blue;
	-webkit-transition:all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}


/* do-it-yourser */
#doityourself{
	padding: 20px 0 20px 0;
	background-color: @green;
}

.box_text_1{
	float: left;
	width: 50%;
	text-align: center;
}

.box_text_1 h3{
	color: @white;
	font-family: 'MyriadPro-Semibold';
	font-size: 26px;
}

.box_text_1 p{
	color: @white;
	font-family: 'MyriadPro-Regular';
	font-size: 16px;
}

.box_img_1 img{
	padding-top: 20px;
	float: right;
	width: 50%;
}

.button_2{
	height: 30px;
	border: none;
	background: @white;
	color: @green;
	font-family: 'MyriadPro-Bold';
	letter-spacing: 1px;
	font-size: 14px;
	padding: 0 15px 0 15px;
}

#doityourself .button_2:hover{
	color: @white;
	background: @blue;
	-webkit-transition:all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* full service consulting */
#fullserviceconsulting{
	padding: 20px 0 20px 0;
	background-color: @white;
}

.box_text_2{
	float: right;
	width: 50%;
	text-align: center;
}

.box_text_2 h3{
	color: @green;
	font-family: 'MyriadPro-Semibold';
	font-size: 26px;
}

.box_text_2 p{
	color: @black;
	font-family: 'MyriadPro-Regular';
	font-size: 16px;
}

.box_img_2 img{
	padding-top: 20px;
	float: left;
	width: 50%;
}

.button_2-2{
	height: 30px;
	border: none;
	background: @green;
	color: @white;
	font-family: 'MyriadPro-Bold';
	letter-spacing: 1px;
	font-size: 14px;
	padding: 0 15px 0 15px;
}

#fullserviceconsulting .button_2-2:hover{
	color: @white;
	background: @blue;
	-webkit-transition:all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* Footer */
.footer-container{
	width: 100%;
	background: @grey3;
	color: @black;
}

.footer-main{
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-colum{
	width: calc(100% / 4);
	text-align: left;
}

#final_footer{
	padding-top: 1px;
	height: 40px;
	background-color: @blue;
}

#final_footer p{
	padding-top: 0px;
	color: @white;
	text-align: center;
}