@import "semantic-grid/stylesheets/less/grid.less"; // from bower
@import "mixin";
@import "variable";

header {
	.column(12);
	// background: white;
	height: auto;
}

.logo {
	.column(2);
	// background: @blueLight;
}

.logo img {
	height: 4.5em;
	vertical-align:middle;
}

.branding {
	.column(10);
	// height: 4.5em;
	padding-top:.7em;
	margin-bottom:0;
	font-family: Base9_SmallCaps;
	font-size:1.75em;
	font-weight:normal;
	letter-spacing: .08em;
	text-align:left;
	// background: @blueLight;
	.janux {
		padding-right: .2em;
		color: @grey;
	}

	.people {
		color: @sageDark;
	}
}



// main column & sidebar
.maincolumn {
	.column(10);
}

.sidebar {
	.column(2);
	// background-color: @grey;
}

.canvas {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background-color: @sageLight;
}

