@import "variable.less";

body {
	font-family: 'Radley', serif;
}

h2 {
	font-family: Base9_SmallCaps;
	font-size: 1em;
}

p {
	margin-bottom: 1em;
}
	

/* =branding */
/*
.branding {
	padding-top:.7em;
	margin-bottom:0;
	font-family: Base9_SmallCaps;
	font-size:1.75em;
	font-weight:normal;
	letter-spacing: .08em;
	text-align:left;
}
*/

