@import "variable";
@import "mixin";

.font-face('Base9_SmallCaps');
// @import url('http://fonts.googleapis.com/css?family=Radley:400,400italic');

.font-face('Montserrat');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.woff-font(OpenSans, normal, normal, @font-path, OpenSans-Regular);
.woff-font(OpenSans, normal, italic, @font-path, OpenSans-Italic);
.woff-font(OpenSans, bold,   normal, @font-path, OpenSans-Bold);
.woff-font(OpenSans, bold,   italic, @font-path, OpenSans-BoldItalic);

.woff-font(OpenSans, 300,    normal, @font-path, OpenSans-Light);
.woff-font(OpenSans, 300,    italic, @font-path, OpenSans-LightItalic);
.woff-font(OpenSans, 600,    normal, @font-path, OpenSans-SemiBold);
.woff-font(OpenSans, 600,    italic, @font-path, OpenSans-SemiBoldItalic);
.woff-font(OpenSans, 800,    normal, @font-path, OpenSans-ExtraBold);
.woff-font(OpenSans, 800,    italic, @font-path, OpenSans-ExtraBoldItalic);

.woff-font(DroidSerif, normal, normal, @font-path, DroidSerif-Regular);
.woff-font(DroidSerif, normal, italic, @font-path, DroidSerif-Italic);
.woff-font(DroidSerif, bold,   normal, @font-path, DroidSerif-Bold);
.woff-font(DroidSerif, bold,   italic, @font-path, DroidSerif-BoldItalic);

.woff-font(MyriadPro, normal, 	normal, @font-path, MyriadPro-Regular);
.woff-font(MyriadPro, normal, 	italic, @font-path, MyriadPro-It);
.woff-font(MyriadPro, bold,   	normal, @font-path, MyriadPro-Bold);
.woff-font(MyriadPro, bold,   	italic, @font-path, MyriadPro-BoldIt);
.woff-font(MyriadPro, semibold, normal, @font-path, MyriadPro-Semibold);

@font-sans:  'OpenSans';
@font-serif: 'DroidSerif';
@font-myriadpro: 'MyriadPro-Regular';
@font-myriadpro-bold: 'MyriadPro-Bold';
@font-myriadpro-semibold: 'MyriadPro-Semibold';

html {
	//
	// causes 1 rem = 10px
  	//
	// that is: a root em to be equal to 10px on all browsers in which:
	//
	// font-size: 100% yields a screen font size of 16px,
	// on normal density displays
	//
	// see http://snook.ca/archives/html_and_css/font-size-with-rem
	//
	font-size: 62.5%;
}

body {
	//
	// This yields the css line:
	//
	// font-size: 20px; font-size: 2rem;
	//
	// The first declaration provides support for browsers that do not support rem's
	// see http://snook.ca/archives/html_and_css/font-size-with-rem
	//
	.rem(font-size, 16);
}