@import "variable";
@import "mixin";

.font-face('Base9_SmallCaps');
// @import url('http://fonts.googleapis.com/css?family=Radley:400,400italic');

.woff-font(LiberationSans, normal, normal, @font-path, LiberationSans);
.woff-font(LiberationSans, normal, italic, @font-path, LiberationSans-Italic);
.woff-font(LiberationSans, bold,   normal, @font-path, LiberationSans-Bold);
.woff-font(LiberationSans, bold,   italic, @font-path, LiberationSans-BoldItalic);

.woff-font(LiberationSerif, normal, normal, @font-path, LiberationSerif);
.woff-font(LiberationSerif, normal, italic, @font-path, LiberationSerif-Italic);
.woff-font(LiberationSerif, bold,   normal, @font-path, LiberationSerif-Bold);
.woff-font(LiberationSerif, bold,   italic, @font-path, LiberationSerif-BoldItalic);

@font-sans:  'LiberationSans';
@font-serif: 'LiberationSerif';


html {
	//
	// causes 1 rem = 10px
  //
	// that is: a root em to be equal to 10px on all browsers in which:
	//
	// font-size: 100% yields a screen font size of 16px,
	// on normal density displays
	//
	// see http://snook.ca/archives/html_and_css/font-size-with-rem
	//
	font-size: 62.5%;
}

body {
	font-family: @font-serif, serif;

	//
	// This yields the css line:
	//
	// font-size: 20px; font-size: 2rem;
	//
	// The first declaration provides support for browsers that do not support rem's
	// see http://snook.ca/archives/html_and_css/font-size-with-rem
	//
	.rem(font-size, 16);
}

h1, h2 {
	font-family: @font-sans, sans-serif;
}

h1 {
	.rem(font-size, 32);
	text-transform: uppercase;
}

h2 {
	.rem(font-size, 24);
}	

p, li {
	line-height: 150%;
	.rem(margin-bottom, 16);
}
