//
// =color
//
@sage:      #96a260;
@sageDark:  hsl(70, 25%, 40%); // #747c4a
@sageLight: hsl(80, 40%, 97%);

@white:		#ffffff;
@grey1:     #EEEEEE;
@grey2:     #C2C9CD;
@grey3:		#D7D6D7;
@black:     #4A4A4A;
@green: 	#009900;
@blue:		#262262;
@yellow: 	#F8E71C;


@blueLight: hsl(160, 40%, 97%);

//
// =grid
//

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 30;

// Remove the definition below for a pixel-based layout
@total-width: 100%;

//
// =fonts and =icons
//

@font-path:         "font";
@icon-path:         "icon";

// glyphicons location
@glyph-font-path:   "@{icon-path}/glyphicons";
@glyph-font-name:   "glyphicons-halflings-regular";

@entypo-path:       "@{icon-path}/entypo";
