@font-path:         "css/font";
@icon-path:         "css/icon";

// glyphicons location
@glyph-font-path:   "@{icon-path}/glyphicons";
@glyph-font-name:   "glyphicons-halflings-regular";

@entypo-path:       "@{icon-path}/entypo";
