doctype html
html
	head
		title Janux Web Seed
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href=cfg.dir.css + '/typography.css')
		link(rel='stylesheet', href=cfg.dir.css + '/layout.css')

	body
		include header
		section.slider-doityourself
			.container
				h1 Prepare your Title 24 Report Yourself!
				p It's simple, easy and fast 
				button.button-1(type='submit') Create New Project
		section.doityourself-box
			.container
				.box-text-1-doityourself
						h3 Why pay an energy consultant for typing information into a computer?
						p You pay an energy consultant for his knowledge, not for his typing speed. Our Do-It-Yourself 'take-off' 	tools enable you to input information on your residential building design, and submit this information to our Title 24 consultants for fast turnarounds at
							.hightline-1 
								p Deeply discounted prices!
				.box-text-2-doityourself
						p Using the Do-It-Yourself Takeoff Tools is simple: all you need to get started is to provide a user name, a valid email and a password, and you are ready to create your first project.
							.hightline-2 
								p Take a test drive, create a new Project!
						p If you have already created a project, you can click 'Edit Active Project' on the green menu toolbar, and you will be taken to the section of the active project that you were editing last.
		section.slider-green
			.container
				.box
					img(src='./img/icono-01.png')
					p Is Title 24 Compliance 
					p Required for my Project?
				.box
					img(src='./img/icono-02.png')
					p Take a Test Drive 
					p Create a New Project!
				.box
					img(src='./img/icono-03.png')
					p Compare 
					p Our Prices
		section.fullserviceconsulting-box
			.container
				.box-img-fullserviceconsulting
					img(src='./img/planocasa1.png')
					.box-text-fullserviceconsulting
						h3 You are in control of fine-tuning your design
						p We let you specify the preferred corrective actions that you would like us to implement if your project is not under compliance as submitted. In 90% of the cases, the project will be brought into compliance when applying the corrective actions of your choice.
						p In the even that your project is still not under compliance even after taking into account the corrective actions that you specified, one of Certified Energy Analysts will get in touch with you to discuss other corrective actions needed to make the design comply with the Title 24 regulations.
		section.colums-3
			.container
					.colum
						img(src='./img/quick.png')
						h3 Quick, simple and convenient ordering process
						p When you are ready to request a Title 24 Energy Compliance Report from one of our knowledgeable Certified Energy Analysts, you will be taken through our quick and convenient ordering process, where you will be able to supply the format and delivery options that you require for your project. 
						p We can deliver your report as hard-copy, and/or in any of the most common digital formats. For a nominal fee, one of our Certified Energy Analysts certify your Title24 report.
					.colum
						img(src='./img/work.png')
						h3 Work on multiple projects at the same time!
						p You are not limited to working on a single project, as you can have multiple projects in progress at once. Any project in progress can be opened and edited at any time. This lets you work efficiently by letting you make progress on some projects while you gather missing information on other projects. 
						p If you have created multiple projects, you can view a list of 'in-progress' projects by clicking on the 'My Projects' button in the green menu bar.
					.colum
						img(src='./img/preview.png')
						h3 Preview the status of your report and your account at any time
						p Once you have submitted a design and requested a report, you may no longer edit the project, but you can view the information that you supplied and the status of your report in the 'My Account' section. 
						p The EasyTitle24.com Do-It-Yourself Takeoff tools bring you the convenience of the internet and a high-level of service and professionalism at a lower cost!
						button.button-1(type='submit') Get started now, Create New Project
		include footer