footer
.footer-container
	.footer-main
		.footer-colum
			h4 Services
			ul
				li
					a(href='/do-it-yourself.html') Do-It-Yourself
				li
					a(href='#') Full Service Consulting
		.footer-colum
			h4 Quick Links
			ul
				li
					a(href='#') My Projects
				li
					a(href='#') Edit Active Project
				li
					a(href='#') My Account
		.footer-colum
			h4 Resources
			ul
				li
					a(href='#') FAQ
				li
					a(href='#') Ful Service Quote
				li
					a(href='#') Customer Service
		.footer-colum
			h4 Contact Us
			p (415) 259-4068
			a(href='#') customer.service@easytitle24.com
			p 654 Oakland Av. Oakland 94611 California, USA
	.final-footer
			p Copyright © 2018 EasyTitle24.com