footer
.footer-container
	.footer-main
		.footer-colum
			img(src='./img/logo_burst-01.png')
			.footer-redes
				a(href='https://www.facebook.com/' target='_blank') Facebook
				a(href='https://twitter.com/' target='_blank') Twitter
				a(href='https://www.instagram.com/' target='_blank') Instagram
		.footer-news
			h3 Still looking for your Sport?
			p Try Ultimate Disk (Frisbee)
			input(type='email', placeholder='Enter your mail...')
			button.button-2(type='submit') KEEP ME INFORMED

	.final-footer
		p Copyright © 2018 BurstUltimate.com