header
	.container
		a(href='/')
			img.logo(src='./img/logoeasytitle24.png')

		input.collapse(type='checkbox')
		span.icon-menu.fa.fa-bars

		nav.main-menu
			ul
				li
					a.active(href='#') My Projects
				li
					a(href='#') Edit Active Project
				li
					a(href='#') My Account
				li
					a(href='#') Services

					nav.services-options
						ul
							li
								a(href='/do-it-yourself.html') Do-It-Yourself
							li
								a(href='#') Ful Service Consulting
				li
					a(href='#') Resources
				li
					a(href='#') Contact Us
.submenu
	nav.sub-menu
		ul.menu-secundary
			li
				a(href='/do-it-yourself.html') Do-It-Yourself
			li
				a(href='#') Ful Service Consulting