doctype html
html
	head
		title Janux Web Seed
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href=cfg.dir.css + '/typography.css')
		link(rel='stylesheet', href=cfg.dir.css + '/layout.css')

	body
		include header
		section.showcase
			.container
				h1 Accurate, Fast & Economical Title 24
				p Compliance Solutions for Building Designers, Owners and Contractors
				button.button-1(type='submit') Create New Project
		section.doityourself
			.container
				.box-text-1
						h3 Do-it-Yourself Residential Title 24
						p Save time and money by entering information about your design into our convenient "take-off" tool.
						p Get your Title 24 Report at a deep discount, and pay yourself the difference! Start Now!
						button.button-2(type='submit') Read More
				.box-img-1
					img(src='./img/laptop.png')
		section.fullserviceconsulting
			.container
				.box-img-2
					img(src='./img/planocasa.png')
					.box-text-2
							h3 Full Service Consulting
							p Just want to get it done quickly, at a reasonable price, with a minimum of fuss?
							p In here you can find out what information to send and how to send it. CAD drawings happily accepted by e-mail or through our upload link.
							button.button-2-2(type='submit') Read More
		include footer