// extends view/layout

// block main-content
	include view/bootstrap-sample

doctype html
html
	head
		title Janux Web Seed
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href=cfg.dir.css + '/typography.css')
		link(rel='stylesheet', href=cfg.dir.css + '/layout.css')
		//link(rel='stylesheet', href=cfg.dir.css + '/main.css')

	body
		header
			.container
				a(href='#')
					img.logo(src='./img/logoeasytitle24.png')

				input.collapse(type='checkbox')
				span.icon-menu.fa.fa-bars

				nav.main-menu
					ul
						li
							a.active(href='#') My Projects
						li
							a(href='#') Edit Active Project
						li
							a(href='#') My Account
						li
							a(href='#') Services

							nav.services-options
								ul
									li
										a(href='#') Do-It-Yourself
									li
										a(href='#') Ful Service Consulting
						li
							a(href='#') Resources
						li
							a(href='#') Contact Us
		.submenu
			nav.sub-menu
				ul.menu-secundary
					li
						a(href='#') Do-It-Yourself
					li
						a(href='#') Ful Service Consulting
		section.showcase
			.container
				h1 Accurate, Fast & Economical Title 24
				p Compliance Solutions for Building Designers, Owners and Contractors
				button.button-1(type='submit') Create New Project
		section.doityourself
			.container
				.box-text-1
						h3 Do-it-Yourself Residential Title 24
						p Save time and money by entering information about your design into our convenient "take-off" tool.
						p Get your Title 24 Report at a deep discount, and pay yourself the difference! Start Now!
						button.button-2(type='submit') Read More
				.box-img-1
					img(src='./img/laptop.png')
		section.fullserviceconsulting
			.container
				.box-img-2
					img(src='./img/planocasa.png')
					.box-text-2
							h3 Full Service Consulting
							p Just want to get it done quickly, at a reasonable price, with a minimum of fuss?
							p In here you can find out what information to send and how to send it. CAD drawings happily accepted by e-mail or through our upload link.
							button.button-2-2(type='submit') Read More
		footer
		.footer-container
			.footer-main
				.footer-colum
					h4 Services
					ul
						li
							a(href='#') Do-It-Yourself
						li
							a(href='#') Full Service Consulting
				.footer-colum
					h4 Quick Links
					ul
						li
							a(href='#') My Projects
						li
							a(href='#') Edit Active Project
						li
							a(href='#') My Account
				.footer-colum
					h4 Resources
					ul
						li
							a(href='#') FAQ
						li
							a(href='#') Ful Service Quote
						li
							a(href='#') Customer Service
				.footer-colum
					h4 Contact Us
					p (415) 259-4068
					a(href='#') customer.service@easytitle24.com
					p 654 Oakland Av. Oakland 94611 California, USA
		#final-footer
					p Copyright © 2018 EasyTitle24.com			