doctype html
html
	head
		title janux people - a social integration toolkit
		meta(name='viewport', content='width=device-width, initial-scale=1')

		// build:css css/pure.css
		link(rel='stylesheet', href='bower/pure/pure.css')
		// endbuild
		
		link(rel='stylesheet', href='css/typography.css')
		link(rel='stylesheet', href='css/layout.css')
		link(rel='stylesheet', href='css/main.css')

	body
		.canvas
			.masthead
				.logo
					img(src='img/janux-sage-256.png') 

				//
					.masthead
						h1.branding 
							span.janux janux 
							span.people people
						a(id='what-is-janux')

				.branding
					span.janux janux 
					span.people people
				a(id='what-is-janux')

			section.sidebar

				block sidebar
					include sidenav

			section.maincolumn

				block main-content
				block footer
					include google-analytics

// vim: set fo=rq wrap:
